
body{
background:#05070b;color:white;font-family:Arial;
padding:30px
}
header{text-align:center}
h1{font-size:50px;color:#1688ff}
.card{
background:#0d131d;
border:1px solid #263040;
padding:30px;
border-radius:20px;
margin:25px auto;
max-width:700px;
box-shadow:0 20px 50px #000
}
input,select,textarea{
width:100%;
padding:15px;
margin:10px 0;
background:#05070b;
color:white;
border:1px solid #333
}
button{
background:#1688ff;
color:white;
padding:15px 25px;
border:0;
border-radius:30px;
cursor:pointer
}
.profile{
border:1px solid #1688ff;
padding:20px;
border-radius:15px
}
